body {
    background-color:black;
    }
    h1 {
        color: azure;
    font-family:Hack;
    src: url('src/Hack-Regular.ttf');
    }
    .center {
        padding: 355px 0;
        text-align: center;
        }
